/* Utilities */
* {
    box-sizing: border-box !important;
    font-family: "Century Gothic", sans-serif;
}

/* .row {
    margin: 0 !important;
} */

.bg-primary-alt {
    background-color: #ff9c15 !important;
}

.bg-secondary-alt {
    background-color: #49654e !important;
}


/* Custom */
body {
    background-color: #eaeaea;
}

/* body > .container { */
/* overflow-x: hidden !important; */
/* } */

/* .header { */
/* background-color: #49654e; */
/* } */

a:hover {
    color: #fff;
    text-decoration: none;
}

.banner {
    background-color: #22433e;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 0px;
    /* box-shadow: 0 10px 7px -7px rgba(37, 37, 37, 0.2); */
    /* z-index: 999; */
    /* height: 500px; */
}

.hide {
    display: none;
}

.banner-produk {
    position: relative;
    z-index: 999 !important;
}

.banner-text {
    color: #FFF;
    font-size: 28px;
}

.banner-text2 {
    color: #ffffad;
    font-size: 16px;
}

.banner-text2 i {
    color: #ffffad;
    font-size: 20px;
    font-weight: 700;
}

.banner-btn {
    color: #22433e;
    background-color: #f0f037;
    padding: 12px 35px;
    border-radius: 10px;
    font-size: 18px;
}

.banner-text span {
    color: #49654e;
    display: inline;
}

.input-icon-wrap {
    border: 1px solid #22433e;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.modal-header{
    border-bottom: 2px solid #22433e !important; 
    background-color: #22433e !important; 
    border-top-left-radius:15px !important;
    border-top-right-radius:15px !important;
    color:#FFF !important;
}

.input-icon {
    background: transparent;
    color: #22433e;
}

.input-with-icon {
    /* border: 1px solid #000; */
    /* border-left-color: transparent; */
    border: none;
    flex: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input:focus {
    outline: none;
}

.input-icon {
    padding: 10px;
    /* border: 1px solid #000; */
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-color: transparent; */
}

.btn-search {
    border: 1px solid #22433e;
    background-color: transparent;
    color: #22433e;
    border-radius: 5px;
    /* padding: 10px; */
    height: 100%;
    width: 100%;
}

.btn-search i {
    font-size: 24px;
}

.box-filter{
    border:3px solid #22433e;
    border-radius: 5px;
}

.filter-input{
    width: 100%;
    padding: 10px;
    color: #22433e;
}

.select2{
    border:1px solid #22433e !important;
    border-radius: 5px !important;
}

.select2-selection__rendered {
    line-height: 40px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-selection__arrow {
    height: 40px !important;
}

.text-filter {
    color: #22433e;
    font-size: 18px;
}

.accrodion{
    background-color: #FFF;
    border-radius: 5px;
    border:1px solid #22433e ;
}

.accrodion-title{
    background-color: #FFF;
    border-radius: 5px;
}

.accrodion-title .icon-drop{
    position: absolute;
    right: 0;
    margin-right: 5px;
}

.accrodion-content{
    border-radius: 5px;
}

.circle-ava {
    color: #22433e;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #22433e;
    text-align: center;
    width: 40px;
    height: 40px;
}

.name-res {
    color: #22433e;
    font-size: 16px;
}

.desc-res {
    color: #22433e;
    font-size: 14px;
}


.btn-wa {
    background-color: #25D366;
    border: 2px solid #25D366;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-wa:hover {
    color: #25D366;
    border: 2px solid #25D366;
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.btn-shopee {
    background-color: #ff5722;
    border: 2px solid #ff5722;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-shopee:hover {
    color: #ff5722;
    border: 2px solid #ff5722;
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.btn-tokped {
    background-color: #509d4e;
    border: 2px solid #509d4e;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-tokped:hover {
    background-color: #FFF;
    border: 2px solid #509d4e;
    color: #509d4e;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.img-icon{
    width: 20px;
    border-radius: 3px;
}

.btn-super-res {
    background-color: #22433e;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.text-desc {
    color: #22433e;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    line-height: 1.8;
}

.text-desc span {
    display: inline;
    font-size: 14px;
    font-weight: 700;
}


.section-komposisi {
    z-index: 999;
    position: relative;
    background: #f0f0f0;
    border-bottom-right-radius: 30px;
}

.komposisi-title {
    background: #22433e;
    padding: 5px 25px 5px 20px;
    color: #f0f037;
    font-size: 22px;
    font-weight: 500;
    border-bottom-right-radius: 20px;
}

.komposisi-desc {
    color: #22433e;
    font-size: 16px;
    font-weight: 700;
}

.komposisi-desc span {
    color: #22433e;
    font-size: 11px;
    font-weight: normal;
    display: inline;
}

.komposisi-desc li {
    color: #22433e;
    font-size: 12px;
    font-weight: normal;
}

.howto-title {
    color: #22433e;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.howto-desc {
    color: #22433e;
    font-size: 12px;
    font-weight: normal;
}

.howto-desc span {
    color: #22433e;
    font-size: 12px;
    font-weight: 700;
    display: inline;
}

.section-barcode {
    background: #f0f0f0;
    border-bottom-left-radius: 30px;
}

.barcode-title {
    background: #22433e;
    padding: 5px 25px 5px 20px;
    color: #f0f037;
    font-size: 22px;
    font-weight: 500;
    border-bottom-left-radius: 20px;
}

.barcode-desc {
    color: #22433e;
    font-size: 12px;
    font-weight: normal;
    text-align: justify;
}

.barcode-desc span {
    color: #22433e;
    font-size: 12px;
    font-weight: 700;
    display: inline;
}

.text-barcode {
    position: relative;
    bottom: 2;

}

.buy-btn {
    color: #f0f037;
    background-color: #22433e;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 16px;
}

/* .tawaran {
    color: #fff;
    border-radius: 10px;
    background-color: #325142;
    padding: 20px !important;
} */


/* .question {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 99;
} */

.question-card {
    /* padding: 10px; */
    position: relative;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(37, 37, 37, 0.5);
    background-color: #f7f7f7;
    /* min-height: 100px; */
    /* background-image: url('../../assets/images/kemiri/landing-page/2.png'); */
    z-index: 99999;
    /* overflow: hidden; */
}



/* img.question-card {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
} */

.question-description {
    position: relative;
    padding: 10px;
    z-index: 999;
    font-size: small;
    font-weight: bold;
    /* margin-left: 100px; */
}

.span-highlight {
    color: #ff9c15;
}

.question-description span {
    color: #ff9c15;
}

.question-image {
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.tawaran {
    color: #fff;
    /* width: 100% !important; */
    border-radius: 10px;
    background-color: #325142;
    padding: 20px !important;
}

.tawaran h4 {
    color: #fff;
}

.tawaran ul li {
    padding-bottom: 0px;
    position: relative;
    font-size: 14px;
    /* display: flex;
    justify-items: center;
    align-items: start; */
}

.tawaran ul li::before {
    content: "\2022";
    color: #ff9c15;
    position: absolute;
    font-weight: bold;
    line-height: 0.5em;
    font-size: 40px;
    display: inline-block;
    margin-left: -0.5em;
}

.baca-banner {
    padding: 30px 50px;
}

.baca-banner h6 {
    text-align: center;
    line-height: 1.5;
}

.baca-banner h6 span {
    color: #ff9c15;
}

.join-banner {
    border-radius: 10px;
    align-items: center;
    padding: 0px 40px;
    /* background-color: #fdecb7; */
    /* background-size: cover; */
    background-position: center;
    background-size: 120% 160%;
    min-height: 160px;
    box-shadow: 0 10px 7px -7px rgba(37, 37, 37, 0.2);
    position: relative;
    bottom: 0;
    background-image: url('../../assets/images/kemiri/landing-page/5.png');

}

.join-image {
    position: absolute;
    bottom: -4px;
    /* margin-top: -10px; */
    z-index: 99;
}

.join-banner h4 {
    font-size: 26px;
    position: relative;
    z-index: 100;
    margin-left: 170px;
}

/* .join-banner::before {
    content: "";
    position: absolute;
    z-index: ;
    width: 100%;
    height: 100%;
    top: 10;
    box-shadow: 0 3px 7px rgba(37, 37, 37, 0.5);
} */

.gimmick-banner {
    padding: 30px 40px;
}

.gimmick-banner .row {
    margin: 0px;
}

.gimmick-card {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.gimmick-card h6 {
    font-size: small;
    padding-left: 10px;
}

.product-banner {
    position: relative;
    z-index: 90;
    /* height: 150px; */
    /* padding: 20px 40px; */
}


.product-banner::before {
    content: "";
    position: absolute;
    top: 0;
    /* z-index: 999999; */
    background-color: #49654e;
    width: 100%;
    height: 60%;
}

.products-card {
    /* padding: 10px; */
    position: relative;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(37, 37, 37, 0.5);
    background-color: hsl(0, 0%, 97%);
    /* min-height: 100px; */
    /* background-image: url('../../assets/images/kemiri/landing-page/2.png'); */
    z-index: 99999;
    /* overflow: hidden; */
}

.products-description {
    position: relative;
    /* z-index: 100; */
    /* padding-top: 22px; */
    text-align: left;
    z-index: 999;
    font-size: 14px;
    font-weight: bold;
}


.products-image {
    position: absolute;
    bottom: -25px;
    right: 0;
    z-index: 999;
}

.products-image2 {
    position: absolute;
    bottom: -35px;
    right: 0;
    z-index: 99;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    background-size: cover;
    box-shadow: 0 3px 7px rgba(37, 37, 37, 0.5);
    background-image: url('../../assets/images/landing-page/3-alt.jpg');
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 100%;
}

.product-card>* {
    /* transform: translateY(-30px); */
    /* position: absolute; */
    margin-top: -30px;
    /* top: 0; */
}

.product-card h6 {
    font-size: 14px;
}

.testimonial-card img {
    border-radius: 15px !important;
    /* box-shadow: 0 3px 5px rgba(15, 15, 15, 0.7); */
}

.testimonial-card p {
    font-size: 8px;
    font-weight: 500;
    color: #49654e;
    line-height: 12.5px;
}

.slick-next:before,
.slick-prev:before {
    color: #49654e !important;
    font-size: 36px;
}

.faq .btn-faq {
    color: #fff;
    width: auto;
    padding: 10px 20px;
    background-color: #325142;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    border-radius: 10px;
}

.faq .btn-faq:hover {
    background-color: #ff9c15;
}

.faq-list ol {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    color: #49654e;
    list-style: decimal inside !important;

}

.faq-list ol li {
    color: #49654e;
    font-weight: 600;
    font-size: 14px;
    display: list-item !important;
    margin-bottom: 5px;
}

.faq-list ol li a {
    display: inline !important;
    color: #49654e;
}

.faq-list ol li:hover,
.faq-list ol li a:hover {
    color: #ff9c15;
}

.faq-list ol li a span .fa {
    /* font-size: small; */
    /* scale: 0.7; */
    font-size: 11px;
}

.faq-list ol li a[aria-expanded="false"] .fa-minus {
    display: none;
}

.faq-list ol li a[aria-expanded="true"] .fa-plus {
    display: none;
}

/* .faq-list ol li a span {
    border: 2px solid #49654e;
    padding: 0 5px;
    border-radius: 5px;
}

.faq-list ol li a:hover span {
    border: 2px solid#ff9c15;
} */

.faq .card-body {
    padding: 10px;
    font-size: 14px;
}

footer {
    background-image: url('../../assets/images/kemiri/landing-page/1.png');
    background-size: cover;
    /* background-position: 100% center; */
    /* z-index: 999999989989; */
    position: relative;
    overflow: visible !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer .col-5:first-child img {
    margin-top: -30px;
    /* top: 0; */
    overflow: auto;
    /* position: absolute; */
    /* z-index: 9999999999999999999; */
}

.footer-description .company-name {
    font-size: 12px;
    font-weight: bold;
    color: #335f4d;
    margin-top: 5px;
}

.footer-contact {
    margin-top: 30px !important;
}

.footer-contact b {
    font-size: 12px;
    font-weight: bold;
    color: #335f4d;
    text-transform: uppercase;
    margin-bottom: 2px !important;
}

.footer-contact a,
.footer-contact span {
    /* margin: 0 0 5px 0 !important; */
    font-size: 10px;
    color: #335f4d;
}

/* @media (max-width: 375.98px) {
    .join-banner h4 {
        font-size: 19px;
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-text2 {
        color: #ffffad;
        font-size: 16px;
    }
    
    .banner-text2 i {
        color: #ffffad;
        font-size: 20px;
        font-weight: 700;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}