/* Utilities */
* {
    box-sizing: border-box !important;
    font-family: "BrownStd", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Custom */
body {
    background-color: #eaeaea;
}

/* body > .container { */
/* overflow-x: hidden !important; */
/* } */

/* .header { */
/* background-color: #49654e; */
/* } */

a:hover{
    color: #fff;
    text-decoration: none;
}

.sec-banner {
    background-color: #20403b;
    position: relative;
    /* border-bottom-left-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    margin-top: 0px;
    /* box-shadow: 0 10px 7px -7px rgba(37, 37, 37, 0.2); */
    /* z-index: 999; */
    /* height: 500px; */
}

.sec-banner .banner-title {
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

}

.sec-banner .banner-subtitle {
    font-size: 16px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #f0f037;
}

.sec-banner .banner-pict{
    bottom: 0;
    position: static;
    margin-bottom: -25px;
    z-index: 1;
    width: 65%;
}

.sec-banner .banner-cta{
    /* width: 250px; */
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    background-color: #f8f88c;
    bottom: 0;
    position:static;
    margin: 0;
    margin-bottom: -27px;
    z-index: 99;
    text-align: center;
    color: #20403b;
}

.sec-desc{
    z-index: 9999 !important;
    background-color: #FFF;
}

.sec-desc .desc-title {
    font-size: 22px;
    font-weight: bold;
    color: #20403b;
}

.sec-desc .desc-p {
    font-size: 14px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.24px;
    text-align: center;
    color: #000;
}

.desc-p span{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;
    text-align: center;
    color: #000;
}

.sec-desc .desc-accent {
    top: 0;
    right: 0;
    position:absolute;
    margin-top: 30px;
    margin-right: -34px;
    height: 310px;
}

.sec-solusi{
    background-color: #eee8e2;
}

.sec-solusi .solusi-title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #20403b;
}

.sec-solusi .solusi-subtitle {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #896162;
}

.sec-solusi .solusi-p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #20403b;
}

.sec-solusi .solusi-pict{
    width: 65%;
}

.sec-komposisi{
    background-color: #20403b;
}

.sec-komposisi .komposisi-title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #f0f037;
    text-align: center;
}

.sec-komposisi .komposisi-subtitle {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}


.komposisi-desc{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.komposisi-desc span{
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
    display: inline;
}

.komposisi-desc li{
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
}

.sec-keunggulan{
    background-color: #FFF;
}

.sec-keunggulan .keunggulan-title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #20403b;
}

.sec-howto{
    background-color: #20403b;
}

.sec-howto .howto-title{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #FFF;
    text-align: center;
}

.howto-desc{
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
}

.howto-desc span{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    display: inline;
}

.cta-beli{
    font-size: 14px;
    /* padding: 15px 75px 15px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #f0f037;
    color: #20403b;
}

.sec-testi{
    background-color: #FFF;
}

.sec-testi .testi-title {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #20403b;

}

.sec-testi .testi-subtitle {
    font-size: 18px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #896162;
}

.sec-testi .testi-content {
    height: 220px;
    /* background-color: #c0cbbe; */
    /* background-color: #FFF; */
}
.sec-testi .testi-content-scroll {
    height: 220px;
    margin-bottom: 20px;
    /* background-color: #c0cbbe; */
    /* background-color: #FFF; */
}
.sec-testi .testi-content-scroll img{
    width: 100%;
    height: auto;
    /* background-color: #c0cbbe; */
    /* background-color: #FFF; */
}

.sec-spesial{
    background-color: #eee8e2;
}

.sec-spesial .spesial-title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #20403b;

}

.sec-spesial .spesial-subtitle {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #ea1b1b;
}

.sec-spesial .spesial-price {
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #bf2424;
}

.sec-spesial .spesial-price-desc {
    font-size: 18px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #20403b;
}

.cta-beli2{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #20403b;
    color: #fff;
}

.sec-peta{
    background-color: #FFF;
}

.sec-peta .peta-title {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #bf2424;
}

.sec-peta .peta-subtitle {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #20403b;
}

.sec-peta .peta-dot {
    width: 20px;
    height: 20px;
    background-color: #20403b;
    border-radius:20px;
}

.sec-peta .peta-dot-text {
    font-size: 20px;
    font-weight: lighter;
    color: #20403b;
    padding:0px;
}

.sec-peta .peta-list {
    font-size: 18px;
    font-weight: normal;
    color: #20403b;

}

/* modal custom */

.btn-cta-wa {
    color: #FFF;
    background-color: #25D366;
    border: 2px solid#25D366;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.btn-cta-wa:hover {
    color: #25D366;
    border: 2px solid#25D366;
    background-color: #FFF;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.btn-cta-shopee {
    color: #FFF;
    background-color: #ff5722;
    border: 2px solid #ff5722;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.btn-cta-shopee:hover {
    color: #ff5722;
    background-color: #FFF;
    border: 2px solid #ff5722;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.btn-cta-tokped {
    color: #FFF;
    background-color: #509d4e;
    border: 2px solid #509d4e;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.btn-cta-tokped:hover {
    color: #509d4e;
    background-color: #FFF;
    border: 2px solid #509d4e;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.img-icon{
    width: 20px;
    border-radius: 3px;
}

/* end modal custom */



footer {
    background-image: url('../../assets/images/kemiri/landing-page/1.png');
    background-size: cover;
    /* background-position: 100% center; */
    /* z-index: 999999989989; */
    position: relative;
    overflow: visible !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer .col-5:first-child img {
    margin-top: -30px;
    /* top: 0; */
    overflow: auto;
    /* position: absolute; */
    /* z-index: 9999999999999999999; */
}

.footer-description .company-name {
    font-size: 12px;
    font-weight: bold;
    color: #335f4d;
    margin-top: 5px;
}
.link-container{
    padding-top: 30px;
    position: relative;
}
.btn-link-mkb{
    background-color: #78e271;
    padding: 15px 0px 15px 0px;
    border-radius: 40px;
    margin: 20px 0px 20px 0px;
    transition: padding 0.5s, border-radius 0.5s;
    color: black;
}
.btn-link-mkb:hover{
    padding: 20px 0px 20px 0px;
    border-radius: 20px;

}

.footer-contact {
    margin-top: 30px !important;
}

.footer-contact b {
    font-size: 12px;
    font-weight: bold;
    color: #335f4d;
    text-transform: uppercase;
    margin-bottom: 2px !important;
}

.footer-contact a, .footer-contact span {
    /* margin: 0 0 5px 0 !important; */
    font-size: 10px;
    color: #335f4d;
}

/* @media (max-width: 375.98px) {
    .join-banner h4 {
        font-size: 19px;
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


