/* Utilities */
* {
    font-family: "Century Gothic", sans-serif;
}

body {
    background: url(../images/kemiri/landing-page-new/bg-web.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo{
    height: 65px;
}


.text-content-1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 140px;
    margin-right: 60px;
}

.text-content-2 {
    font-size: 26px;
    font-weight: 500;
    bottom: 0;
    position: absolute;
    margin-bottom: 135px;
    margin-left: 75px;
}

/* .section-content{
    background: url(../img/errors.png) no-repeat center center fixed;
    background-size: contain;
    height: 575px;
    position: relative;
} */

.img-content{
    width: 100%;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #f0f037;
}

.text-sosmed {
    color: #22433e;
    font-size: 20px;
    text-decoration: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        background: url(../images/kemiri/landing-page-new/bg-mobile.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .text-content-3 {
        font-size: 24px;
        font-weight: 700;
    }
    
    .text-content-4 {
        font-size: 24px;
        font-weight: 500;
    }

    .text-sosmed {
        color: #22433e;
        font-size: 14px;
        text-decoration: none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}