/*
Theme Name: Botanical - HTML5 Ecommerce Template
Author: Htmlbeans
Author URI: https://themeforest.net/user/htmlbeans
Version: 1
Description: Base theme for HTML5
Text Domain: base
Tags: one-column, two-columns, three-columns
Theme URI: http://www.htmlbeans.com/html/botanical/
*/
.btnTheme {
  background-color: #01533c;
}

.hide {
  display: none;
}

/* ---------------------------------------------------------
	 
1	 pageWrapper
2	 bgCover
3	 headingII
4	 headingIII
5	 headingIV
6	 headingV
7	 headingVI
8	 headingVII
9	 mainHeader
10	 introBlock
11	 bannerBlockHolder
12	 heroBlockHolder
13	 introBannerHolder
14	 breadCrumbs
15	 chooseUs-sec
16	 chooseList
17	 featureCol
18	 contactListColumn
19	 comming-timer
20	 dealSlider
21	 subscribeSecBlock
22	 quotationBlock
23	 masonryHolder
24	 itemCol
25	 testimonailSlider
26	 newsPostColumn
27	 newsBlogColumn
28	 discoverSecHolder
29	 partnerSlider
30	 widget
31	 show-head
32	 pagination
33	 productTextHolder
34	 tabSetList
35	 socialNetworkList
36	 commentsBlock
37	 commentform
38	 cartHolder
39	 footerHolder
40	 copyRightHolder
39	 abtSecHolder
40	 progressCounter
41	 accordionList
42	 teamBlock
43	 stepCol
44	 contactListHolder
45	 mapHolder
46	 contactForm

---------------------------------------------------------*/
html {
  background-color: #343a40;
}

body {
  -ms-overlfow-style: scrollbar;
  min-width: 320px;
}

/* ---------------------------------------------------------
1	 pageWrapper
---------------------------------------------------------*/
#pageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.js-tab-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}

a {
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/* ---------------------------------------------------------
2	 bgCover
--------------------------------------------------------*/
.bgCover {
  background-size: cover;
  background-position: 50% 50%;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.fwEbold {
  font-weight: bold;
}

.btn {
  font-size: 16px;
  line-height: 18px;
}

.btn .fas {
  font-size: 14px;
}

.btn:hover {
  opacity: 0.7;
}

.btn.btnShop {
  min-width: 140px;
}

.btn.btnCart {
  min-width: 200px;
}

.md-round {
  border-radius: 40px;
}

.sm-round {
  border-radius: 10px;
}

.bg-lightGray {
  background: #f6f6f6;
}

.bg-dark {
  background: #313538;
}

.bgCover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------------------------------------------------------
3	 headingII
---------------------------------------------------------*/
.headingII {
  font-size: 25px;
  line-height: 27px;
  color: #333333;
}

.headingII:before {
  content: '';
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.headingII:before {
  width: 60px;
  height: 3px;
  background: #01533c;
}

/* ---------------------------------------------------------
4	 headingIII
---------------------------------------------------------*/
.headingIII {
  font-size: 20px;
  line-height: 22px;
  color: #444444;
}

/* ---------------------------------------------------------
5	 headingIV
---------------------------------------------------------*/
.headingIV {
  font-size: 25px;
  line-height: 27px;
  color: #333333;
}

/* ---------------------------------------------------------
6	 headingV
---------------------------------------------------------*/
.headingV {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

/* ---------------------------------------------------------
7	 headingVI
---------------------------------------------------------*/
.headingVI {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  letter-spacing: 1px;
}

/* ---------------------------------------------------------
8	 headingVII
---------------------------------------------------------*/
.headingVII {
  font-size: 15px;
  line-height: 17px;
  color: #444444;
  letter-spacing: 1px;
}

/* ---------------------------------------------------------
9	 mainHeader
---------------------------------------------------------*/
.mainHeader .headerBorder {
  min-width: 100%;
}

.mainHeader .headerBorder .img-bdr {
  width: 270px;
}

/* ---------------------------------------------------------
10	 introBlock
---------------------------------------------------------*/
.introBlock {
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;
}

.introBlock .align {
  min-height: 390px;
}

.introBlock .holder {
  z-index: 2;
}

.introBlock h1 {
  font-size: 25px;
  line-height: 30px;
  color: #333333;
  font-family: "Playfair Display", serif;
}

.introBlock h1:before {
  content: '';
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.introBlock h1:before {
  width: 100px;
  height: 5px;
  background: #333333;
}

.introBlock h2 {
  font-size: 25px;
  line-height: 30px;
  color: #333333;
  font-family: "Playfair Display", serif;
}

.introBlock .title {
  font-size: 14px;
  line-height: 16px;
  color: #555555;
  letter-spacing: 2px;
}

.introBlock .title:before {
  content: '';
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 0;
}

.introBlock .title:before {
  width: 5px;
  height: 12px;
}

.introBlock br {
  display: none;
}

.introBlock .slick-prev,
.introBlock .slick-next {
  font-size: 17px;
  line-height: 22px;
  color: #444444;
}

.introBlock .slick-next {
  margin-left: 109px;
}

.introBlock .slickNavigatorsWrap,
.introBlock .slickNums {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.introBlock .slickNums {
  font-size: 20px;
  line-height: 28px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  pointer-events: none;
  counter-reset: item;
}

.introBlock .slickNums li {
  pointer-events: auto;
  text-indent: -99999px;
  position: relative;
}

.introBlock .slickNums li:first-child {
  margin-left: 58px;
}

.introBlock .slickNums li:last-child {
  display: block;
  padding-left: 22px;
  text-indent: 0;
}

.introBlock .slickNums li:before {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-indent: 0;
  counter-increment: item;
  content: counters(item, ". ", decimal) "/";
}

.introBlock .slickNums li.slick-active:before {
  opacity: 1;
  visibility: visible;
}

.introBlock .slickNums button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

/* ---------------------------------------------------------
11	 bannerBlockHolder
---------------------------------------------------------*/
.bannerBlockHolder {
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;
}

.bannerBlockHolder .align {
  min-height: 380px;
}

.bannerBlockHolder .holder {
  z-index: 2;
}

.bannerBlockHolder h1 {
  font-size: 30px;
  line-height: 35px;
  color: #333333;
  font-family: "Playfair Display", serif;
}

.bannerBlockHolder .title {
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  letter-spacing: 2px;
}

.bannerBlockHolder .title:before {
  content: '';
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 0;
}

.bannerBlockHolder .title:before {
  width: 5px;
  height: 16px;
}

.bannerBlockHolder .year {
  font-size: 40px;
  line-height: 45px;
  color: #555555;
}

.bannerBlockHolder .sub-title {
  font-size: 20px;
  line-height: 24px;
  color: #444444;
  letter-spacing: 2px;
  font-weight: 500;
}

.bannerBlockHolder br {
  display: block;
}

.bannerBlockHolder .slick-prev,
.bannerBlockHolder .slick-next {
  font-size: 17px;
  line-height: 22px;
  color: #444444;
}

.bannerBlockHolder .slick-next {
  margin-left: 109px;
}

.bannerBlockHolder .slickNavigatorsWrap,
.bannerBlockHolder .slickNums {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.bannerBlockHolder .slickNums {
  font-size: 20px;
  line-height: 28px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  pointer-events: none;
  counter-reset: item;
}

.bannerBlockHolder .slickNums li {
  pointer-events: auto;
  text-indent: -99999px;
  position: relative;
}

.bannerBlockHolder .slickNums li:first-child {
  margin-left: 58px;
}

.bannerBlockHolder .slickNums li:last-child {
  display: block;
  padding-left: 22px;
  text-indent: 0;
}

.bannerBlockHolder .slickNums li:before {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-indent: 0;
  counter-increment: item;
  content: counters(item, ". ", decimal) "/";
}

.bannerBlockHolder .slickNums li.slick-active:before {
  opacity: 1;
  visibility: visible;
}

.bannerBlockHolder .slickNums button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

/* ---------------------------------------------------------
12	 heroBlockHolder
---------------------------------------------------------*/
.heroBlockHolder .containerHolder {
  max-width: 1390px;
}

.heroBlockHolder .containerHolder .coll-6 {
  width: 100%;
}

.heroBlockHolder .containerHolder .coll-6:first-child {
  width: 45%;
  z-index: 2;
  padding: 0;
  display: none;
}

.heroBlockHolder .title {
  font-size: 16px;
  line-height: 21px;
  color: #444444;
}

.heroBlockHolder .title:before {
  content: '';
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}

.heroBlockHolder .title:before {
  width: 100px;
  height: 3px;
}

.heroBlockHolder .txtwrap {
  z-index: 1;
}

.heroBlockHolder .subTitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #666666;
}

.heroBlockHolder h1 {
  font-size: 35px;
  line-height: 40px;
  color: #333333;
}

.heroBlockHolder .slick-prev,
.heroBlockHolder .slick-next {
  font-size: 17px;
  line-height: 22px;
  color: #444444;
}

.heroBlockHolder .slick-next {
  margin-left: 109px;
}

.heroBlockHolder .slickNavigatorsWrap,
.heroBlockHolder .slickNums {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none !important;
  margin-left: auto;
}

.heroBlockHolder .slickNums {
  font-size: 20px;
  line-height: 28px;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  pointer-events: none;
  counter-reset: item;
}

.heroBlockHolder .slickNums li {
  pointer-events: auto;
  text-indent: -99999px;
  position: relative;
}

.heroBlockHolder .slickNums li:first-child {
  margin-left: 58px;
}

.heroBlockHolder .slickNums li:last-child {
  display: block;
  padding-left: 22px;
  text-indent: 0;
}

.heroBlockHolder .slickNums li:before {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-indent: 0;
  counter-increment: item;
  content: counters(item, ". ", decimal) "/";
}

.heroBlockHolder .slickNums li.slick-active:before {
  opacity: 1;
  visibility: visible;
}

.heroBlockHolder .slickNums button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

/* ---------------------------------------------------------
13	 introBannerHolder
---------------------------------------------------------*/
.introBannerHolder {
  min-height: 130px;
}

/* ---------------------------------------------------------
14	 breadCrumbs
---------------------------------------------------------*/
.breadCrumbs {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.breadCrumbs a {
  color: #707070;
  display: block;
}

/* ---------------------------------------------------------
15	 chooseUs-sec
---------------------------------------------------------*/
.chooseUs-sec .btnMore {
  color: #5ba515;
}

/* ---------------------------------------------------------
16	 chooseList
---------------------------------------------------------*/
.chooseList {
  color: #838383;
  margin: 0 0 0 -10px;
}

.chooseList .icon {
  font-size: 70px;
  line-height: 75px;
  color: #5ba515;
}

/* ---------------------------------------------------------
17	 featureCol
---------------------------------------------------------*/
.featureCol {
  width: 100%;
}

.featureCol:hover .postHoverLinskList {
  bottom: 20px;
}

.featureCol .title {
  font-size: 13px;
}

.featureCol .title a {
  color: #707070;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.featureCol .price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  color: #444444;
}

.featureCol .price del {
  font-size: 14px;
  line-height: 16px;
  color: #bebebe;
  font-weight: 400;
  margin: 0 10px 0 0;
}

.featureCol .hotOffer {
  font-size: 14px;
  line-height: 16px;
  top: 11px;
  left: 4px;
  min-width: 50px;
  padding: 4px 5px 7px 2px;
  border-radius: 0 15px 15px 0;
  background: #f9861f;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.featureCol .hotOffer.green {
  background: #5ba515;
}

.featureCol .postHoverLinskList {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.featureCol .postHoverLinskList li {
  -webkit-box-shadow: 0 1px 19px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 19px 6px rgba(0, 0, 0, 0.1);
}

.featureCol .postHoverLinskList li:first-child {
  border-radius: 20px 0 0 20px;
}

.featureCol .postHoverLinskList li:last-child {
  border-radius: 0 20px 20px 0;
}

.featureCol .postHoverLinskList a {
  padding: 8px;
  color: #444444;
  background: #fff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.featureCol .postHoverLinskList a:hover {
  color: #fff;
}

/* ---------------------------------------------------------
18	 contactListColumn
---------------------------------------------------------*/
.contactListColumn {
  border-radius: 50px;
}

.contactListColumn .icon {
  font-size: 30px;
  line-height: 40px;
  color: #5ba515;
}

/* ---------------------------------------------------------
19	 comming-timer
---------------------------------------------------------*/
.comming-timer .countdown-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.comming-timer .countdown-row .countdown-section {
  min-width: 30px;
  margin: 0 20px 0 0;
  position: relative;
}

.comming-timer .countdown-row .countdown-section:before {
  content: '';
  position: absolute;
  top: 0;
  right: -14px;
  bottom: auto;
  left: auto;
}

.comming-timer .countdown-row .countdown-section:before {
  content: ":";
  font-size: 30px;
  line-height: 35px;
  color: #5ba515;
}

.comming-timer .countdown-row .countdown-section:last-child:before {
  display: none;
}

.comming-timer .countdown-row .countdown-section .countdown-amount {
  font-size: 25px;
  line-height: 27px;
  color: #5ba515;
  font-weight: 700;
  background: none;
  border-top: none;
  display: block;
  padding: 0;
  border-bottom: none;
}

.comming-timer .countdown-row .countdown-section .countdown-amount:before {
  display: none;
}

.comming-timer .countdown-row .countdown-section .countdown-period {
  font-size: 12px;
  line-height: 14px;
  color: #b2b2b2;
}

/* ---------------------------------------------------------
20	 dealSlider
---------------------------------------------------------*/
.dealSlider .slick-dots {
  margin: 0;
  padding: 0;
  text-align: center;
}

.dealSlider .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px 0 0;
}

.dealSlider .slick-dots .slick-active button:before {
  opacity: 1;
  visibility: visible;
}

.dealSlider .slick-dots button {
  background: none;
  border-radius: 100%;
  outline: none;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  padding: 5px;
  position: relative;
  display: block;
  background: #d1d1d1;
  border: none;
}

.dealSlider .slick-dots button:before {
  content: '';
  position: absolute;
  top: -5px;
  right: auto;
  bottom: auto;
  left: -5px;
}

.dealSlider .slick-dots button:before {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #5ba515;
  padding: 5px;
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
}

/* ---------------------------------------------------------
21	 subscribeSecBlock
---------------------------------------------------------*/
.subscribeSecBlock {
  min-height: 330px;
}

.subscribeSecBlock .emailForm1 {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #bebebe;
}

.subscribeSecBlock .emailForm1 .form-control {
  width: 100%;
  height: 50px;
  background: #fff;
  margin: 0 0 20px;
  border-radius: 40px;
}

.subscribeSecBlock .emailForm1 .form-control::-webkit-input-placeholder {
  color: #bebebe;
}

.subscribeSecBlock .emailForm1 .form-control::-moz-placeholder {
  opacity: 1;
  color: #bebebe;
}

.subscribeSecBlock .emailForm1 .form-control:-moz-placeholder {
  color: #bebebe;
}

.subscribeSecBlock .emailForm1 .form-control:-ms-input-placeholder {
  color: #bebebe;
}

.subscribeSecBlock .emailForm1 .form-control.placeholder {
  color: #bebebe;
}

.subscribeSecBlock .emailForm1 .btn {
  border-radius: 40px !important;
}

/* ---------------------------------------------------------
22	 quotationBlock
---------------------------------------------------------*/
.quotationBlock {
  font-size: 16px;
  line-height: 26px;
  color: #707070;
}

.quotationBlock q {
  padding: 0 20px;
  font-style: italic;
}

.quotationBlock q:after, .quotationBlock q:before {
  display: none;
}

.quotationBlock cite {
  font-style: normal;
}

.quotationBlock cite strong {
  font-size: 20px;
  line-height: 22px;
  color: #444444;
}

.quotationBlock cite span {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
}

/* ---------------------------------------------------------
23	 masonryHolder
---------------------------------------------------------*/
.masonryHolder .grid-item {
  width: 100%;
  float: left;
}

.masonryHolder .grid-item.grid-item2 {
  width: 100%;
}

/* ---------------------------------------------------------
24	 itemCol
---------------------------------------------------------*/
.itemCol .hoverTextBlock {
  left: 20px;
  top: 20px;
}

.itemCol .hoverTextBlock .txt {
  font-size: 16px;
  line-height: 18px;
  color: #707070;
  word-spacing: 1px;
}

.itemCol .headingIV {
  font-size: 25px;
  line-height: 30px;
  color: #353535;
}

.itemCol .headingIV a {
  color: #353535;
}

/* ---------------------------------------------------------
25	 testimonailSlider
---------------------------------------------------------*/
.testimonailSlider.slick2 .slick-dots {
  display: none !important;
}

.testimonailSlider .slide {
  padding: 0 20px;
}

.testimonailSlider .icon-qoute {
  font-size: 20px;
  line-height: 22px;
  color: #707070;
}

.testimonailSlider .title {
  font-size: 20px;
  line-height: 22px;
  color: #666666;
}

.testimonailSlider .desnation {
  font-size: 14px;
  line-height: 16px;
  color: #9f9f9f;
}

.testimonailSlider .slick-dots {
  margin: 0;
  padding: 0;
  text-align: center;
}

.testimonailSlider .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px 0 0;
}

.testimonailSlider .slick-dots .slick-active button:before {
  opacity: 1;
  visibility: visible;
}

.testimonailSlider .slick-dots button {
  background: none;
  border-radius: 100%;
  outline: none;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  padding: 5px;
  position: relative;
  display: block;
  background: #d1d1d1;
  border: none;
}

.testimonailSlider .slick-dots button:before {
  content: '';
  position: absolute;
  top: -5px;
  right: auto;
  bottom: auto;
  left: -5px;
}

.testimonailSlider .slick-dots button:before {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #5ba515;
  padding: 5px;
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
}

/* ---------------------------------------------------------
26	 newsPostColumn
---------------------------------------------------------*/
.newsPostColumn {
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.newsPostColumn:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.newsPostColumn .imgHolder {
  margin: 0 -10px;
}

.newsPostColumn .imgHolder .time {
  width: 50px;
  height: 50px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  left: 10px;
  top: 11px;
}

.newsPostColumn .imgHolder .time strong {
  font-size: 16px;
  line-height: 18px;
}

.newsPostColumn .postBy {
  font-size: 12px;
  line-height: 14px;
  color: #afafaf;
  word-spacing: 2px;
}

.newsPostColumn .postBy a {
  color: #afafaf;
}

.newsPostColumn .headingV a {
  color: #444444;
}

/* ---------------------------------------------------------
27	 newsBlogColumn
---------------------------------------------------------*/
.newsBlogColumn .time {
  width: 110px;
  height: 50px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.newsBlogColumn .time strong {
  font-size: 16px;
  line-height: 18px;
}

.newsBlogColumn .postBy {
  font-size: 12px;
  line-height: 14px;
  color: #afafaf;
  word-spacing: 2px;
  border-bottom: 1px solid #ebebeb;
}

.newsBlogColumn .postBy a {
  color: #afafaf;
}

.newsBlogColumn .headingV a {
  color: #444444;
}

/* ---------------------------------------------------------
28	 discoverSecHolder
---------------------------------------------------------*/
.discoverSecHolder .rightAlign .title:before {
  right: auto;
  left: 0;
}

.discoverSecHolder .rightAlign .imgHolder .bdr {
  left: -40px;
  top: -30px;
}

.discoverSecHolder .title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #555555;
  letter-spacing: 1px;
}

.discoverSecHolder .title:before {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: 2px;
  left: auto;
}

.discoverSecHolder .title:before {
  width: 30px;
  height: 1px;
}

.discoverSecHolder .headingIV {
  color: #444444;
}

.discoverSecHolder .btn {
  border: 1px solid;
}

.discoverSecHolder .btn:hover {
  color: #fff;
}

.discoverSecHolder .imgHolder {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.discoverSecHolder .imgHolder .bdr {
  right: -40px;
  top: -30px;
  z-index: -1;
}

/* ---------------------------------------------------------
29	 partnerSlider
---------------------------------------------------------*/
.partnerSlider .logoColumn {
  width: 155px;
}

/* ---------------------------------------------------------
30	 widget
---------------------------------------------------------*/
.widget .searchForm {
  width: 100%;
  height: 40px;
}

.widget .searchForm .form-control {
  font-size: 14px;
  line-height: 16px;
  color: #b3b3b3;
  height: 40px;
  background: none;
  border-radius: 0;
  padding: 0 40px 5px 11px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ebebeb;
}

.widget .searchForm .form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}

.widget .searchForm .form-control::-moz-placeholder {
  opacity: 1;
  color: #b3b3b3;
}

.widget .searchForm .form-control:-moz-placeholder {
  color: #b3b3b3;
}

.widget .searchForm .form-control:-ms-input-placeholder {
  color: #b3b3b3;
}

.widget .searchForm .form-control.placeholder {
  color: #b3b3b3;
}

.widget .searchForm button {
  font-size: 18px;
  line-height: 20px;
  color: #656565;
  right: 1px;
  top: 10px;
  background: none;
  border: none;
}

.widget .categoryList {
  line-height: 20px;
}

.widget .categoryList a {
  color: #707070;
}

.widget .categoryList .num {
  border-radius: 5px;
  padding: 0 13px;
}

.widget .filter-ranger-form .get-results-wrap {
  padding-top: 24px;
}

.widget .filter-ranger-form #demo {
  font-size: 12px;
  line-height: 1.33333;
}

.widget .filter-ranger-form .btn {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 1px;
  vertical-align: top;
  min-width: 100px;
}

.widget .filter-ranger-form #amount {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
}

.widget .recentListHolder .alignleft {
  width: 27%;
}

.widget .recentListHolder .description-wrap {
  width: 73%;
}

.widget .recentListHolder .headingVII {
  font-weight: 400;
}

.widget .recentListHolder .headingVII a {
  color: #707070;
  display: block;
}

.widget .recentListHolder .price {
  font-size: 15px;
  line-height: 17px;
  color: #27272f;
}

.widget .tagNavList {
  font-size: 14px;
  line-height: 16px;
}

.widget .tagNavList li {
  margin: 0 8px 10px 0;
}

.widget .tagNavList a {
  color: #707070;
  letter-spacing: 1px;
  padding: 7px 14px 9px 17px;
  border: 1px solid #ebebeb;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.widget .tagNavList a:hover {
  color: #fff;
}

.widget .recentPostList a {
  color: #707070;
  letter-spacing: 1px;
  border-bottom: 1px solid #ebebeb;
}

.widget .archiveList a {
  color: #707070;
  letter-spacing: 1px;
}

/* ---------------------------------------------------------
31	 show-head
---------------------------------------------------------*/
.show-head .viewFilterLinks {
  font-size: 15px;
  line-height: 17px;
  color: #707070;
  width: 100%;
}

.show-head .viewFilterLinks li {
  letter-spacing: 1px;
}

.show-head .viewFilterLinks a {
  width: 40px;
  height: 40px;
  color: #707070;
  display: block;
  padding: 8px;
  border: 1px solid #ebebeb;
}

.show-head .viewFilterLinks a:hover {
  color: #fff;
}

.show-head .viewFilterLinks .fas {
  font-size: 20px;
  line-height: 22px;
}

.show-head .groupTitle {
  font-size: 14px;
  line-height: 17px;
  color: #b3b3b3;
}

.show-head .dropdown {
  width: 170px;
  height: 40px;
}

.show-head .dropdown .dropdown-toggle {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  width: 100%;
  height: 40px;
  text-align: left;
  border: 1px solid #ebebeb;
  padding: 0 0 3px 8px;
  letter-spacing: 1px;
  background: none;
}

.show-head .dropdown .dropdown-toggle:after {
  margin: 8px 8px 0 0;
  float: right;
}

.show-head .dropdown .dropdown-menu {
  margin: 0 0 0 -10px;
  padding: 0;
  width: 100%;
}

.show-head .dropdown .dropdown-menu a {
  padding: 5px 8px;
  color: #707070;
  display: block;
}

.show-head .dropdown .dropdown-menu a:hover {
  color: #fff;
}

/* ---------------------------------------------------------
32	 pagination
---------------------------------------------------------*/
.pagination {
  font-size: 16px;
  line-height: 18px;
  color: #808086;
}

.pagination li {
  margin: 0 10px 0 0;
  font-weight: 700;
}

.pagination .active a {
  color: #fff;
}

.pagination a {
  border: 1px solid #ebebeb;
  display: block;
  border-radius: 5px;
  padding: 5px 9px;
  color: #808086;
}

.pagination a:hover {
  color: #fff;
}

/* ---------------------------------------------------------
33	 productTextHolder
---------------------------------------------------------*/
.productTextHolder h2 {
  font-size: 30px;
  line-height: 33px;
  color: #333333;
  letter-spacing: 2px;
}

.productTextHolder .ratingList {
  font-size: 15px;
  line-height: 17px;
  color: #808086;
  letter-spacing: 1px;
}

.productTextHolder .ratingList a {
  color: #f9861f;
  display: block;
}

.productTextHolder .price {
  font-size: 28px;
  line-height: 30px;
}

.productTextHolder .productInfoDetail {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  letter-spacing: 1px;
}

.productTextHolder .productInfoDetail span {
  font-weight: 600;
  color: #1d1d1d;
}

.productTextHolder .productInfoDetail a {
  color: #707070;
  word-spacing: -3px;
}

.productTextHolder .sizeList {
  font-size: 15px;
  line-height: 17px;
  color: #444444;
  font-weight: 600;
  letter-spacing: 1px;
}

.productTextHolder .sizeList [type="checkbox"] {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
}

.productTextHolder .sizeList .fake-label {
  font-size: 14px;
  line-height: 16px;
}

.productTextHolder .sizeList .fake-input,
.productTextHolder .sizeList label {
  display: inline-block;
  vertical-align: middle;
}

.productTextHolder .sizeList label {
  padding-right: 5px;
}

.productTextHolder .sizeList .fake-input {
  width: 20px;
  height: 20px;
  background: #e4e4e4;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 1px;
  border-radius: 100%;
}

.productTextHolder .sizeList [type="checkbox"] + .fake-input:before {
  content: '';
  width: 10px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  border-width: 0 0 3px 3px;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: -4px 0 0 -5px;
}

.productTextHolder .sizeList [type="checkbox"]:checked + .fake-input:before {
  opacity: 1;
}

.productTextHolder .sizeList input:disabled + .fake-input,
.productTextHolder .sizeList input:disabled ~ .fake-label {
  opacity: .5;
}

.productTextHolder .colorList {
  font-size: 15px;
  line-height: 17px;
  color: #444444;
  font-weight: 600;
  letter-spacing: 1px;
}

.productTextHolder .colorList a {
  width: 20px;
  height: 20px;
  display: block;
}

.productTextHolder .colorList .red {
  background: #ec2026;
}

.productTextHolder .colorList .yellow {
  background: #fdc135;
}

.productTextHolder .colorList .purple {
  background: #9a2f81;
}

.productTextHolder .jcf-number {
  overflow: hidden;
  width: 100%;
  height: 50px;
  margin: 0 0 20px;
}

.productTextHolder .jcf-number input {
  font-size: 18px;
  line-height: 20px;
  color: #707070;
  text-align: center;
  padding: 0;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #5ba515;
}

.productTextHolder .jcf-number .jcf-btn-inc,
.productTextHolder .jcf-number .jcf-btn-dec {
  width: 50px;
  height: 50px;
  background: none;
  top: 0;
  font-size: 10px;
  line-height: 12px;
  text-indent: -9999px;
}

.productTextHolder .jcf-number .jcf-btn-inc:before,
.productTextHolder .jcf-number .jcf-btn-dec:before {
  top: 18px;
  left: 19px;
  background: none;
  border: none;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin: 0;
  text-indent: 0;
}

.productTextHolder .jcf-number .jcf-btn-dec {
  left: 0;
  border-right: 1px solid #5ba515;
}

.productTextHolder .jcf-number .jcf-btn-dec:before {
  content: "\f068";
  display: block;
}

.productTextHolder .jcf-number .jcf-btn-inc {
  right: 0;
  border-left: 1px solid #5ba515;
}

.productTextHolder .jcf-number .jcf-btn-inc:before {
  content: "\f067";
  display: block;
}

.productTextHolder .socialNetwork {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  letter-spacing: 1px;
}

.productTextHolder .socialNetwork a {
  font-size: 16px;
  line-height: 18px;
  color: #707070;
}

/* ---------------------------------------------------------
34	 tabSetList
---------------------------------------------------------*/
.tabSetList {
  font-size: 20px;
  line-height: 25px;
  color: #444454;
}

.tabSetList a {
  color: #444454;
  position: relative;
}

.tabSetList a:after {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.tabSetList a:after {
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border-bottom: 2px solid;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
}

.tabSetList a:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.tabSetList a.active:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* ---------------------------------------------------------
35	 socialNetworkList
---------------------------------------------------------*/
.socialNetworkList {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  letter-spacing: 1px;
}

.socialNetworkList a {
  font-size: 16px;
  line-height: 18px;
  color: #707070;
}

/* ---------------------------------------------------------
36	 commentsBlock
---------------------------------------------------------*/
.commentsBlock .commentArea .img {
  width: 23%;
}

.commentsBlock .commentArea .txtHolder {
  width: 77%;
}

.commentsBlock .commentArea .commentDate {
  color: #b8b8b8;
  word-spacing: 2px;
}

.commentsBlock .commentArea .commentDate a {
  color: #444444;
}

/* ---------------------------------------------------------
37	 commentform
---------------------------------------------------------*/
.commentform .row1 {
  margin: 0 -15px;
}

.commentform .coll {
  width: 100%;
  padding: 0 15px;
}

.commentform .form-control {
  width: 100%;
  height: 50px;
  font-size: 15px;
  line-height: 17px;
  color: #b8b8b8;
  background: #f5f5f5;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 9px 7px;
}

.commentform textarea {
  resize: none;
}

.commentform textarea.form-control {
  width: 100%;
  height: 200px;
}

/* ---------------------------------------------------------
38	 cartHolder
---------------------------------------------------------*/
.cartHolder .cartTable {
  min-width: 930px;
}

.cartHolder .cartTable th {
  font-size: 15px;
  line-height: 17px;
  color: #444444;
  padding: 10px 0;
  letter-spacing: 1px;
}

.cartHolder .cartTable td {
  vertical-align: middle;
  letter-spacing: 1px;
}

.cartHolder .cartTable .jcf-number {
  overflow: hidden;
  height: 50px;
  margin: 0 20px 0 0;
}

.cartHolder .cartTable .jcf-number input {
  font-size: 20px;
  line-height: 22px;
  color: #707070;
  text-align: center;
  padding: 0;
  width: 150px;
  border: 1px solid #e1e1e1;
}

.cartHolder .cartTable .jcf-number .jcf-btn-inc,
.cartHolder .cartTable .jcf-number .jcf-btn-dec {
  width: 50px;
  height: 50px;
  background: none;
  top: 0;
  font-size: 10px;
  line-height: 12px;
  text-indent: -9999px;
}

.cartHolder .cartTable .jcf-number .jcf-btn-inc:before,
.cartHolder .cartTable .jcf-number .jcf-btn-dec:before {
  top: 18px;
  left: 19px;
  background: none;
  border: none;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin: 0;
  text-indent: 0;
}

.cartHolder .cartTable .jcf-number .jcf-btn-dec {
  left: 0;
  border-right: 1px solid #e1e1e1;
}

.cartHolder .cartTable .jcf-number .jcf-btn-dec:before {
  content: "\f068";
  display: block;
}

.cartHolder .cartTable .jcf-number .jcf-btn-dec:hover:before {
  color: #fff;
}

.cartHolder .cartTable .jcf-number .jcf-btn-inc {
  right: 0;
  border-left: 1px solid #e1e1e1;
}

.cartHolder .cartTable .jcf-number .jcf-btn-inc:before {
  content: "\f067";
  display: block;
}

.cartHolder .cartTable .jcf-number .jcf-btn-inc:hover:before {
  color: #fff;
}

.cartHolder .cartTable .imgHolder {
  width: 70px;
}

.cartHolder .cartTable .title a {
  color: #707070;
}

.cartHolder .cartTable .fas {
  color: #666666;
}

.cartHolder .cartForm label {
  color: #444444;
  letter-spacing: 1px;
}

.cartHolder .cartForm .form-control {
  width: 100%;
  height: 200px;
  color: #707070;
  border: 1px solid #ebebeb;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.cartHolder .couponForm .mt-holder {
  width: 100%;
}

.cartHolder .couponForm label {
  color: #444444;
  letter-spacing: 1px;
}

.cartHolder .couponForm .form-control {
  width: 100%;
  height: 50px;
  color: #707070;
  border: 1px solid #ebebeb;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

/* ---------------------------------------------------------
39	 abtSecHolder
---------------------------------------------------------*/
.abtSecHolder h2 {
  font-size: 30px;
  line-height: 30px;
  color: #333333;
}

.abtSecHolder h2:before {
  content: '';
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.abtSecHolder h2:before {
  width: 70px;
  height: 1px;
  background: #5ba515;
}

/* ---------------------------------------------------------
40	 progressCounter
---------------------------------------------------------*/
.progressCounter li {
  min-width: 100%;
}

.progressCounter .counter {
  font-size: 50px;
  line-height: 52px;
  color: #333333;
}

.progressCounter .txtWrap {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  font-weight: 500;
  letter-spacing: 1px;
}

/* ---------------------------------------------------------
41	 accordionList
---------------------------------------------------------*/
.accordionList .card {
  border: 1px solid #dddddd;
}

.accordionList .card-header {
  border: none;
  background: #fff;
  border-radius: 0;
}

.accordionList .btn-link {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

/* ---------------------------------------------------------
42	 teamBlock
---------------------------------------------------------*/
.teamBlock:hover .imgWrap:before,
.teamBlock:hover .socialNetworks {
  opacity: 1;
  visibility: visible;
}

.teamBlock .imgWrap:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.teamBlock .imgWrap:before {
  opacity: 0;
  visibility: hidden;
  background: rgba(51, 51, 51, 0.8);
  -webkit-transition: opacity 0.35s linear, visibility 0.35s linear;
  -o-transition: opacity 0.35s linear, visibility 0.35s linear;
  transition: opacity 0.35s linear, visibility 0.35s linear;
}

.teamBlock .socialNetworks {
  font-size: 14px;
  line-height: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s linear, visibility 0.35s linear, -webkit-transform 0.35s linear;
  transition: opacity 0.35s linear, visibility 0.35s linear, -webkit-transform 0.35s linear;
  -o-transition: opacity 0.35s linear, visibility 0.35s linear, transform 0.35s linear;
  transition: opacity 0.35s linear, visibility 0.35s linear, transform 0.35s linear;
  transition: opacity 0.35s linear, visibility 0.35s linear, transform 0.35s linear, -webkit-transform 0.35s linear;
}

.teamBlock .socialNetworks li {
  margin-right: 17px;
  margin-left: 17px;
}

.teamBlock .socialNetworks a {
  color: #fff;
  -webkit-transition: color 0.35s ease;
  -o-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

.teamBlock .socialNetworks a:hover {
  color: #5ba515;
}

.teamBlock .name {
  font-size: 15px;
  line-height: 17px;
  color: #333333;
}

.teamBlock .name a {
  color: #333333;
  -webkit-transition: color 0.35s ease;
  -o-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

.teamBlock .name a:hover {
  color: #5ba515;
}

.teamBlock .desination {
  font-size: 14px;
  line-height: 16px;
  color: #707070;
  font-weight: 400;
}

/* ---------------------------------------------------------
43	 stepCol
---------------------------------------------------------*/
.stepCol {
  width: 100%;
}

.stepCol .mainTitle {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  max-width: 109px;
  background: #5ba515;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------
44	 contactListHolder
---------------------------------------------------------*/
.contactListHolder {
  font-size: 14px;
  line-height: 23px;
  color: #707070;
}

.contactListHolder li {
  min-width: 100%;
}

.contactListHolder a {
  color: #707070;
}

.contactListHolder .icon {
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid #eaeaea;
}

.contactListHolder .title {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

/* ---------------------------------------------------------
45	 mapHolder
---------------------------------------------------------*/
.mapHolder {
  height: 260px;
}

@media (min-width: 576px) {
  .mapHolder {
    height: 320px;
  }
}

@media (min-width: 768px) {
  .mapHolder {
    height: 370px;
  }
}

@media (min-width: 992px) {
  .mapHolder {
    height: 420px;
  }
}

@media (min-width: 1170px) {
  .mapHolder {
    height: 500px;
  }
}

.mapHolder iframe {
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------------
46	 contactForm
---------------------------------------------------------*/
.contactForm .row1 {
  margin: 0 -15px;
}

.contactForm .coll {
  width: 100%;
  padding: 0 15px;
}

.contactForm .form-control {
  width: 100%;
  height: 50px;
  font-size: 13px;
  line-height: 15px;
  color: #c8c8c8;
  background: none;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 9px 14px;
}

.contactForm textarea {
  resize: none;
}

.contactForm textarea.form-control {
  width: 100%;
  height: 227px;
  padding: 17px 14px;
}

#header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

#header .headerHolderCol {
  background: #313538;
}

#header .headerHolderCol .tel {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-weight: 500;
}

#header .headerHolderCol .tel .icon-call {
  font-size: 15px;
  line-height: 17px;
}

#header .headerHolderCol .txt {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

#header .headerHolder .logo {
  width: 125px;
}

#header .mainHolder .logo {
  width: 115px;
}

#header .h-logo {
  width: 100px;
}

.static-block {
  position: static;
}

.langList {
  font-size: 13px;
  line-height: 1.14286;
}

.langList > li {
  margin: 0 0 0 13px;
}

.langList > li:first-child {
  margin: 0;
}

.langList > li > a {
  color: #333333;
  border: none;
  padding: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.langList > li > a:after {
  font-size: 15px;
  margin: 0 -2px 2px 3px;
  vertical-align: bottom;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.langList > li > a:hover {
  border: none;
}

.langList .icon-menu {
  font-size: 18px;
  line-height: 1.11111;
}

.langList .dropdown-menu {
  min-width: 120px;
  top: 30px !important;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
}

.langList .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 1.16667;
  color: #444444;
  font-weight: 400;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
  background: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.langList .dropdown-menu .dropdown-item a {
  color: #444444;
}

.langList .dropdown-menu .dropdown-toggle:after {
  display: none;
}

.langListII {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
}

.langListII li {
  margin: 0 16px 0 0;
}

.langListII li.show a {
  background: none;
  border: none;
}

.langListII a {
  color: #fff;
  border: none;
  padding: 0;
  font-weight: 700;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.langListII a:after {
  font-size: 13px;
  margin: 0 0 2px 5px;
  vertical-align: bottom;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.langListII a:hover {
  border: none;
}

.langListII .dropdown-menu {
  min-width: 120px;
  top: 10px !important;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
}

.langListII .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 1.16667;
  color: #444444;
  font-weight: 400;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
  background: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.pageNav1 {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  font-weight: 700;
  float: left;
}

.pageNav1 .navbar-nav li.dropdown.show > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.pageNav1 .navbar-nav .nLogo {
  display: none;
}

.pageNav1 .navbar-nav a {
  color: #333333;
  padding: 10px 15px;
  background: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.pageNav1 .navbar-nav a:after {
  display: none;
}

.pageNav1 .navbar-nav .dropdown-menu {
  font-size: 16px;
  line-height: 18px;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 100%;
  min-width: 234px;
  font-weight: 600;
  border-radius: 0;
  border-top: 2px solid #5ba515;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.pageNav1 .navbar-nav .dropdown-menu a {
  color: #444444;
  display: block;
  padding: 10px 15px;
  margin: 0;
}

.pageNav1 .navbar-nav .dropdown-menu a:hover {
  color: #fff;
}

.pageNav1 .navbar-toggle {
  padding: 8px;
  background: none;
  border: 1px solid #333333;
  border-radius: 0;
  margin: 15px 0 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.pageNav1 .navbar-toggle:focus {
  outline: 0;
}

.pageNav1 .navbar-toggle:hover .icon-bar {
  background: #fff;
}

.pageNav1 .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #333333;
  border-radius: 1px;
}

.pageNav1 .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.pageNav1 .navbar-collapse {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  background: #fff;
}

.pageNav2 {
  font-size: 14px;
  line-height: 0.875;
  color: #333333;
  font-weight: 700;
  float: right;
}

.pageNav2 .navbar-nav li.dropdown.show > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.pageNav2 .navbar-nav .dropdown-menu {
  font-size: 16px;
  line-height: 18px;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 100%;
  min-width: 234px;
  font-weight: 600;
  margin: 0;
  border-radius: 0;
  border-top: 2px solid #5ba515;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.pageNav2 .navbar-nav .dropdown-menu a {
  color: #444444;
  display: block;
  padding: 10px 15px;
  margin: 0;
}

.pageNav2 .navbar-nav .dropdown-menu a:after {
  display: none;
}

.pageNav2 .navbar-nav .dropdown-menu a:hover {
  color: #fff;
}

.pageNav2 .navbar-nav .active > a:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.pageNav2 .navbar-nav a {
  color: #333333;
  padding: 10px 15px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.pageNav2 .navbar-nav a:after {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.pageNav2 .navbar-nav a:after {
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border: none;
  border-bottom: 2px solid;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
}

.pageNav2 .navbar-nav a:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.pageNav2 .navbar-toggle {
  padding: 8px;
  background: none;
  border: 1px solid #333333;
  border-radius: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.pageNav2 .navbar-toggle:focus {
  outline: 0;
}

.pageNav2 .navbar-toggle:hover .icon-bar {
  background: #fff;
}

.pageNav2 .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #333333;
  border-radius: 1px;
}

.pageNav2 .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.pageNav2 .navbar-collapse {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  background: #fff;
}

.wishList {
  font-size: 18px;
  line-height: 1.11111;
  padding: 0 15px 0 0;
}

.wishList li {
  margin: 0 0 0 20px;
}

.wishList li:first-child {
  margin: 0;
}

.wishList a {
  color: #333333;
  border: none !important;
  padding: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.wishList a .num {
  position: absolute;
  top: -6px;
  right: -15px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  line-height: 0.75px;
  color: #fff;
  background: #5ba515;
  padding: 7px 0 0 5px;
}

.wishList .dropdown-menu {
  min-width: 120px;
  top: 10px !important;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
}

.wishList .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 1.16667;
  color: #444444;
  font-weight: 400;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
}

.wishListII {
  font-size: 19px;
  line-height: 21px;
}

.wishListII li {
  margin: 0 0 0 21px;
}

.wishListII a {
  color: #333333;
  border: none !important;
  padding: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.wishListII a .num {
  position: absolute;
  top: -6px;
  right: -15px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  line-height: 0.75px;
  color: #fff;
  background: #5ba515;
  padding: 7px 0 0 5px;
}

.wishListII .dropdown-menu {
  min-width: 120px;
  top: 10px !important;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 1px 18px 3px rgba(0, 0, 0, 0.2);
}

.wishListII .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 1.16667;
  color: #444444;
  font-weight: 400;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
}

/* ---------------------------------------------------------
39	 footerHolder
---------------------------------------------------------*/
.footerHolder .coll-1 {
  width: 100%;
}

.footerHolder .coll-2 {
  width: 100%;
}

.footerHolder .coll-3 {
  width: 100%;
}

.footerHolder .coll-4 {
  width: 100%;
}

.footerHolder .footerContactList {
  font-size: 15px;
  line-height: 17px;
  color: #707070;
}

.footerHolder .footerContactList .pr30 {
  padding-right: 0;
}

.footerHolder .footerContactList address {
  color: #444444;
}

.footerHolder .footerContactList a {
  color: #707070;
}

.footerHolder .footerContactList .icon {
  color: #444444;
}

.footerHolder .footerContactList .email .icon {
  font-size: 12px;
}

.footerHolder .followSocailNetwork {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.footerHolder .followSocailNetwork a {
  color: #808080;
}

.footerHolder .footerNavList a {
  color: #707070;
}

.footerHolder .tagNavList {
  font-size: 14px;
  line-height: 16px;
}

.footerHolder .tagNavList li.mr2 {
  margin: 0 2px 0 0;
}

.footerHolder .tagNavList a {
  color: #666666;
  min-width: 100px;
  border: 1px solid #e0e0e0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.footerHolder .tagNavList a:hover {
  color: #fff;
}

/* ---------------------------------------------------------
40	 copyRightHolder
---------------------------------------------------------*/
.copyRightHolder {
  border-top: 1px solid #d1d1d1;
}

.copyRightHolder.v-II {
  color: #fff;
  border-top: none;
}

.copyRightHolder.v-II p a {
  color: #fff;
}
